.search-button,
.voice-search,
.right-container,
.notification-container{    
    position:relative;   
    cursor:pointer;
    display:flex; 
    justify-content:center;
    align-items:center;
}
.right-container .tool-tip{
    bottom: -14px;
}

.tool-tip{
    position: absolute;
    bottom: -35px;
    background-color: rgb(124, 123, 123);
    color: white;
    font-family: Roboto,arial;
    border-radius: 2px;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tool-tip,
.voice-search:hover .tool-tip,
.right-container:hover .tool-tip{
    opacity: 1;
    transition: opacity 0.15s;
}
.notification-container{
    position: relative;
}
.notifications-timestamp{
    position: absolute;
    top: 2px;
    right: -4px;
    background-color: rgb(215, 11, 11);
    color: white;
    font-family: Roboto,arial;
    border-radius: 15px;
    font-size: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.ldin,
.twitr,
.git{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-tip-footer{
    display: flex;
    position: absolute;
    bottom: -25px;
    background-color: rgb(124, 123, 123);
    color: white;
    font-family: Roboto,arial;
    border-radius: 2px;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.ldin:hover .tool-tip-footer,
.twitr:hover .tool-tip-footer,
.git:hover .tool-tip-footer{
    opacity: 1;
    transition: opacity 0.15s;
}
